<div class="page-title">
    <h1 class="mat-h1">Purchase</h1>
    <span class="spacer"></span>
    <button mat-raised-button color="primary">
        Create Manual Order
    </button>
</div>
<div class="page-title" style="display: block !important;">
    <mat-divider></mat-divider>
</div>

<div class="page-tabs">
    <mat-tab-group color="accent">
        <mat-tab label="Today's and Overdue Orders">
            <div class="mat-elevation-z8">
                <mat-form-field appearance="standard">
                    <mat-label>Filter by...</mat-label>
                    <input matInput placeholder="Ex. " #input>
                </mat-form-field>
                <table mat-table [dataSource]="data" matSort>
        
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                        <td mat-cell *matCellDef="let row"> {{ row.symbol }} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="lastPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Current price </th>
                        <td mat-cell *matCellDef="let row"> {{ row.lastPrice }} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="priceChange">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price change </th>
                        <td mat-cell *matCellDef="let row"> {{row.priceChange}} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="priceChangePercent">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price change (%) </th>
                        <td mat-cell *matCellDef="let row"> {{row.priceChangePercent}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="highPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Highest price </th>
                        <td mat-cell *matCellDef="let row"> {{row.highPrice}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="lowPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lowest price </th>
                        <td mat-cell *matCellDef="let row"> {{row.lowPrice}} </td>
                    </ng-container>
              
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
        
                </table>
              
                <mat-paginator [pageSizeOptions]="[10, 25, 50]" aria-label="Select page of users"></mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="Future Orders"> TO DO </mat-tab>
        <mat-tab label="Draft Orders"> TO DO </mat-tab>
    </mat-tab-group>
</div>
