@import url('../../app.css');
.page-title {
    display: flex !important;
    align-items: center;
}

.page-tabs {
    width: 75%;
    margin: auto;
    margin-top: 2.5vh;
}

.filter-row {
    display: flex;
    margin-top: 2.5vh;
    background: #fff;
    height: 56px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.filter-row > mat-icon {
    align-self: center;
}

.filter-row > mat-icon:not(:first-child) {
    margin-right: 1vw;
}

table {
    width: 100%;
}

.actions {
    height: 4vh;
    border-left: 1px solid rgba(0,0,0,.12);
}

table button {
    display: inline-block;
    margin-left: 1vw;
}

tr > td:last-child {
    text-align: center;
    width: 15%;
    min-width: 175px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}
