<div class="page-title">
    <h1 class="mat-h1">Purchase</h1>
    <span class="spacer"></span>
    <button mat-raised-button color="primary">
        Create Manual Order
    </button>
</div>
<div class="page-title" style="display: block !important;">
    <mat-divider></mat-divider>
</div>

<div class="page-tabs">
    <mat-tab-group color="accent" backgroundColor="primary">
        <mat-tab label="Today's and Overdue Orders">
            <div class="mat-elevation-z8">
                <mat-form-field appearance="standard">
                    <mat-label>Filter by...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. " #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" matSort>
        
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="orderType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Type </th>
                        <td mat-cell *matCellDef="let row"> {{row.orderType}} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="supplier">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
                        <td mat-cell *matCellDef="let row"> {{row.supplier}} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="noProducts">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Products </th>
                        <td mat-cell *matCellDef="let row"> {{row.noProducts}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Value </th>
                        <td mat-cell *matCellDef="let row"> {{row.value}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Planned Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                    </ng-container>
              
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
        
                </table>
              
                <mat-paginator [pageSizeOptions]="[10, 25, 50]" aria-label="Select page of users"></mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="Future Orders"> TO DO </mat-tab>
        <mat-tab label="Draft Orders"> TO DO </mat-tab>
    </mat-tab-group>
</div>
