@import url('../app.css');
.top-info {
    display: flex;
}

.top-info mat-card {
    width: 12.5vw;
    margin: auto;
    margin-top: 2.5vh;
}

.service-lvl {
    display: flex;
    margin-top: 2.5vh;
}

.service-lvl .mat-h3 {
    margin-left: 2.5%;
    position: absolute;
}

.service-lvl #srv-lvl-chart {
    margin: auto;
    margin-top: 5vh;
    width: 80%;
}

.srv-lvl-table {
    margin: auto;
    margin-top: 5vh;
    width: 80%;
}

.srv-lvl-table table {
    width: 100%;
}
