<div class="page-title">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-divider></mat-divider>
</div>

<div class="top-info">
    <mat-card>
        <mat-card-subtitle>Inventory Value</mat-card-subtitle>
        <mat-card-title>€ 167 010.00</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Inventory Turnover Time</mat-card-subtitle>
        <mat-card-title>4.5 days</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Current Service Level</mat-card-subtitle>
        <mat-card-title>73.76 %</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Trend</mat-card-subtitle>
        <mat-card-title>11.1 %</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Seasonality Factor</mat-card-subtitle>
        <mat-card-title>58.5 %</mat-card-title>
    </mat-card>
</div>

<div class="service-lvl">
    <h3 class="mat-h3">Service Level (%)</h3>
</div>
