<mat-toolbar>
  <button mat-icon-button class="navbar-icon">
    <mat-icon color="accent" (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <span>
    <img src="../../assets/images/Logo-light.png" class="optiply-logo"> 
  </span>
  <div class="account-selector">
    <mat-form-field appearance="outline" class="account-selector-form">
      <mat-select [(value)]="selectedOption">
        <mat-option value="1">demoaccount</mat-option>
        <mat-option value="2">testaccount</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button class="navbar-icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon">
    <mat-icon>help_outline</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon">
    <mat-icon>language</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" class="side-menu">
    <mat-list>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>attach_money</mat-icon> Purchase
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>event_note</mat-icon> Deliveries
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>insert_chart_outlined</mat-icon> Products
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>store_mall_directory</mat-icon> Suppliers
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>stars</mat-icon> Promotions
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon> Settings
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
  </mat-drawer-content>
</mat-drawer-container>
