<mat-toolbar>
  <button mat-icon-button class="navbar-icon">
    <mat-icon color="accent">menu</mat-icon>
  </button>
  <span>
    <img src="../../assets/images/Logo-light.png" class="optiply-logo"> 
  </span>
  <div class="account-selector">
    <mat-form-field appearance="outline" class="account-selector-form">
      <mat-select [(value)]="selectedOption">
        <mat-option value="1">demoaccount</mat-option>
        <mat-option value="2">testaccount</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button class="navbar-icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon">
    <mat-icon>help_outline</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon">
    <mat-icon>language</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
