@import "~@angular/material/prebuilt-themes/indigo-pink.css";
button {
    background-color: Transparent;
    border: none;
    outline: none;
}

.navbar-icon {
    display: flex;
}

.optiply-logo {
    display: flex;
    margin-left: 1.5vw;
    height: 3vh;
    max-height: 48px;
    min-height: 24px;
}

.account-selector {
    display: flex;
    font-size: 1.5vh;
    margin-left: 5vw;
    margin-top: 2vh;
}

.container {
    height: 93%;
}

.side-menu {
    height: 97%;
    width: 15vw;
    margin: 0.75vw;
    border: solid 1px rgba(0,0,0,.12);
    border-radius: 5px;
}

.side-menu button {
    display: flex;
    align-items: center;
}

.side-menu mat-divider {
    width: 90%;
    margin: auto;
}

.side-menu mat-list-item:last-child {
    position: absolute;
    bottom: 2vh;
}
