<div class="page-title">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-divider></mat-divider>
</div>

<div class="top-info">
    <mat-card>
        <mat-card-subtitle>Inventory Value</mat-card-subtitle>
        <mat-card-title>€ 167 010.00</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Inventory Turnover Time</mat-card-subtitle>
        <mat-card-title>4.5 days</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Current Service Level</mat-card-subtitle>
        <mat-card-title>73.76 %</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Trend</mat-card-subtitle>
        <mat-card-title>11.1 %</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Seasonality Factor</mat-card-subtitle>
        <mat-card-title>58.5 %</mat-card-title>
    </mat-card>
</div>

<div class="service-lvl">
    <h3 class="mat-h3">Service Level (%)</h3>
    <div id="srv-lvl-chart"></div>
</div>

<div class="srv-lvl-table">
    <table mat-table [dataSource]="dataSrc" class="mat-elevation-z8">
        
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let service"> {{service.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="desiredLvl">
            <th mat-header-cell *matHeaderCellDef> Desired Service Level (%) </th>
            <td mat-cell *matCellDef="let service"> {{service.desiredLvl}} </td>
        </ng-container>
        
        <ng-container matColumnDef="currentLvl">
            <th mat-header-cell *matHeaderCellDef> Current Service Level (%) </th>
            <td mat-cell *matCellDef="let service"> {{service.currentLvl}} </td>
        </ng-container>
        
        <ng-container matColumnDef="invValue">
            <th mat-header-cell *matHeaderCellDef> Inventory Value (€) </th>
            <td mat-cell *matCellDef="let service"> {{service.invValue}} </td>
        </ng-container>

        <ng-container matColumnDef="stockTurnover">
            <th mat-header-cell *matHeaderCellDef> Stock Turnover (days) </th>
            <td mat-cell *matCellDef="let service"> {{service.stockTurnover}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>
</div>
